.main-tasks{
    display: flex;
    flex-direction: column;
    padding: 3% 2%;
    width: 100%;
}

.main-tasks .heading{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: var(--main-color);
}

.main-tasks .heading .page-icon{
    margin-right: 10px;
}

.main-tasks .heading .add-task-btn{
    margin-left: auto;
    cursor: pointer;
    margin-right: 10px;
    background: rgb(236, 236, 236);
    padding: 3px;
    border-radius: 8px;
}

/*tasks*/

.tasks{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.tasks .task{
    display: flex;
    align-items: center;
    font-size: 1rem;
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.3);
    padding: 1% 1%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.tasks .task .bx-radio-circle{
    margin-right: 20px;
    font-size: 1.5rem;
    color: var(--main-color);
    cursor: pointer;
}

.tasks .task .task-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tasks .task .bx-calendar{
    position: relative;
    margin-left: auto;
    margin-right: 50px;
    font-size: 1.1rem;
}

.tasks .task .bx-calendar span{
    position: absolute;
    left: -6rem;
}

/*
.tasks .task .bxs-star,
.tasks .task .bxs-trash-alt{
    margin-right: 50px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.3s;
}

.tasks .task .bxs-trash-alt:hover{
    color: red;
}

.tasks .task .bxs-star:hover{
    color: var(--main-color)
}
*/

/*task form*/
.task-form-container{
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.6);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.task-form{
    width: 40%;
    height: 200px;
    background: white;
    border-radius: 20px;
    padding: 1% 1%;
}

.task-form .task-input{
    border-radius: 10px;
    width: 100%;
    height: 40%;
    border: 1px solid var(--main-color);
    padding: 10px;
    margin-bottom: 5%;
}

.task-form .task-input:focus{
    outline: none;
}

.task-form button{
    width: 50%;
    height: 50px;
    background: transparent;
    border: 1px solid green;
    border-radius: 10px;
    color: green;
    transition: 0.5s;
}

.task-form button:hover{
    background: green;
    color: white;
}

.task-form button ~ button{
    color: red;
    border: 1px solid red;
    margin-left: 15px;
    transition: 0.5s;
}

.task-form button ~button:hover{
    background: red;
    color: white;
}



