.main-tasks{
    display: flex;
    flex-direction: column;
    padding: 3% 2%;
    width: 100%;
}

.main-tasks .heading{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: var(--main-color);
}

.main-tasks .heading .page-icon{
    margin-right: 10px;
}

.main-tasks .heading .add-task-btn{
    margin-left: auto;
    cursor: pointer;
    margin-right: 10px;
    background: rgb(236, 236, 236);
    padding: 3px;
    border-radius: 8px;
}

/*tasks*/

.tasks{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.tasks .task{
    display: flex;
    align-items: center;
    font-size: 1rem;
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.3);
    padding: 1% 1%;
    border-radius: 10px;
    margin-bottom: 20px;
    gap: 30px;
}

.tasks .task .task-title{
    width: 15%;
    max-width: 15%;
}

.tasks .task .task-description {
    font-size: 0.7rem;
    max-width: 35%;
    width: 35%;
    color: rgb(49, 49, 49);
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis;
}


.tasks .task .bx-radio-circle{
    margin-right: 20px;
    font-size: 1.5rem;
    color: var(--main-color);
    cursor: pointer;
}

.tasks .task .bx-radio-circle:hover{
    color: green;
}


.tasks .task .task-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    gap: 50px;
}

.tasks .task .bxs-star,
.tasks .task .bxs-trash-alt,
.tasks .task .bxs-pencil{
    transition: 0.3s;
}

.tasks .task .bxs-star:hover{
    color: rgb(197, 197, 37);
}

.tasks .task .bxs-trash-alt:hover{
    color: red;
}

.tasks .task .bxs-pencil:hover{
    color:var(--main-color);
}

.tasks .task .bx-calendar{
    position: relative;
    margin-right: 50px;
    font-size: 1.1rem;
}

.tasks .task .bx-calendar span{
    position: absolute;
    left: -6rem;
}

/*task form*/
.task-form-container{
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.6);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}



.task-form{
    width: 40%;
    text-align: center;
    background: white;
    border-radius: 20px;
    padding: 1% 1%;
    font-style: italic;
}

.task-form h1{
    margin-bottom: 20px;
    font-size: 2rem;
}

.task-form .task-input{
    border-radius: 10px;
    width: 100%;
    height: 40%;
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.5);
    border: none;
    padding: 10px;
    margin-bottom: 5%;
}

.task-form .task-input::placeholder{
    opacity: 1;
    color: var(--main-color);
    font-style: italic;
}

.task-form .task-input.task-description{
    height: 100px;
}

.task-form .task-input:focus{
    outline: none;
}

.task-form button{
    width: 50%;
    height: 50px;
    background: green;
    border-radius: 10px;
    color: white;
    transition: 0.5s;
    border: none;
    font-style: italic;
}

.task-form button:hover{
    background: white;
    color: green;
    border: 1px solid green;
}

.task-form button ~ button{
    background: red;
    border: none;
    margin-left: 15px;
    transition: 0.5s;
}

.task-form button ~button:hover{
    background: white;
    color: red;
    border: 1px solid red;
}



